pkgbase = ros-melodic-libfranka
	pkgdesc = C++ library for Franka Emika research robots
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/frankaemika/libfranka
	arch = x86_64
	license = Apache
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-melodic-roscpp
	makedepends = ros-melodic-catkin
	depends = eigen
	depends = poco
	provides = ros-melodic-libfranka
	conflicts = ros-melodic-libfranka
	source = ros-melodic-libfranka-0.7.1-1.tar.gz::https://github.com/frankaemika/libfranka-release/archive/release/melodic/libfranka/0.7.1-1.tar.gz
	md5sums = 86f1aacc71666f7c2357e87445967ba6

pkgname = ros-melodic-libfranka

